<% layout('layout/main') -%>
    <div class="alert alert-primary mt-5" role="alert">
        <h1 class="alert-heading">About</h1>
        <p>This is a web application that uses web scraping techniques to extract information from IMDb for a list of TV
            shows.
            The application accepts a comma-separated list of IMDb URLs and retrieves data such as the show's poster,
            title, rating, summary and the submitted url.
            It then presents this information in a clean and organized table format.</p>
        <hr>
        <p class="mb-0">Also it allows you to download the extracted data as a CSV file, enabling you to
            further analyze or manipulate the information using other tools.</p>
    </div>